<template name="header">
<header>
    <h1 class="center-allign">My ToDo List!</h1>
    </header>
</template>

<template name="form">
<form class="add-new-task">
    <div class="input-field">
    <input type="text" placeholder="Add A New Task"/>
    </div>
    <button class="waves-effect waves-light btn">Sumbit it</button>
    </form>
</template>

<template name="todos">
    <ul class="collection"> 
        {{#each todoList}}
        <li class="collection-item">{{this.name}}</li>
        {{/each}}
    </ul>
</template>